<footer role="contentinfo" class="footer">
  <p><small>© {{date format="YYYY"}}. Wilfred Lemus</small></p>
  <!-- <p><small>Proudly published with <a href="http://ghost.org" target="_blank">Ghost</a></small></p> -->
  <!-- <p><small><a href="http://ghostium.oswaldoacauan.com/" target="_blank">Ghostium Theme</a> by <a href="http://twitter.com/oswaldoacauan" target="_blank">@oswaldoacauan</a></small></p> -->
</footer>
